.contenedor{
    max-width: 100%;
    width:90%;
    margin: auto;
}

.navegacion{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.navegacion__enlaces{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}   