.App {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}

@font-face {
   font-family: 'get_schwifty';
   src: url(./assets/get_schwifty.ttf);
   font-weight: bold;
   font-style: bold;
 }

h1{
   font-family: 'get_schwifty';
   font-size: 100px;
   color:#63cbfb;
   -webkit-text-stroke: 2px #000;
   margin: 15px;
   text-shadow: -8px -8px 1px #f0e14a, 8px 8px 1px #f0e14a, -8px 8px 1px #f0e14a, 8px -8px 1px #f0e14a;
}